<a class="back" href="#/outbox">Back</a>

<div class="email-view">
  <h2 class="subject"> {{ email.subject }} </h2>
  <span class="from"> {{ email.from }}  </span><span class="date"> {{ email.datetime | date }}  </span>
  <p class="message"> {{ email.message }}  </p>
</div>